.MoodClicker-dark {
	padding: 20px;
	background-color: black;
	color: white;
	border: 2px solid white;
}

.MoodClicker-dark button {
	margin: 5px;
	background-color: yellow;
	color: navy;
}

.MoodClicker-light {
	padding: 20px;
	background-color: white;
	color: black;
	border: 2px solid black;
}

.MoodClicker-light button {
	margin: 5px;
	background-color: purple;
	color: white;
}
